<h3>Submit your Answer</h3>

<%= form_for [@question, @answer], remote: true do |f| %>
<div class="text-field">
    <h4><%= f.label :description %></h4>
    <%= f.text_area :description , class:"form-control" %>
</div>
  <br>
  <%= f.submit "Submit" ,'data-turbolinks' => false %>
<% end %>