<h1>About Us</h1>
<h2>AskPx is a Patient Counselling Platform where you can ask questions publicly or private message a pharmacist directly and get your professional advices.</h2>
<h3>It is convenient and save up your time when you are busy.</h3>