<h1>About Us</h1>
<h2>AskPx is a place where you can ask questions to pharmacists and get your professional advices.</h2>
<h3>It is an alternate platform which is convenient and save up your time when you are busy.</h3>